<div class="container">
    <h1>Board Details</h1>

    <ul>

        {{#each data}}
            <li>
                <p>Company: {{this.make}}</p>
                <p>MODEL: {{this.model}}</p>
                <p>SIZE: {{this.size}}</p>
                <p>PRICE: {{this.price}}</p>
                <p>FLEXABILITY: {{this.flex}}</p>
            </li>

    </ul>
    <a href="/snowboard" class="waves-effect waves-light btn-large"> Back To List</a><br><br>
    <a href="/snowboard/{{this.id}}/edit/" class="waves-effect waves-light btn-large"> Edit</a><br><br>

    <form class="delete-button" action="/snowboard/{{this.id}}?_method=DELETE" method="post">
        <button class="waves-effect waves-light btn-large" type="submit" name="delete-button"> Delete</button>
    </form>

    {{/each}}
</div>
